<div class="clr-swh no-js-hidden">
  <sht-product-quick-view-variant-swatch class="variant-swatch hide-empty">
    {% render 'core-color-swatch', product: product, option: option, section: section, product_form_id: product_form_id %}
  </sht-product-quick-view-variant-swatch>
</div>

