<div class="clr-swh no-js-hidden">
  <sht-featured-product-variant-swatch class="variant-swatch hide-empty">
    {% render 'core-color-swatch', product: product, option: option, section: section, product_form_id: product_form_id, input_class: 'js-featured-variant-radio-item' %}
  </sht-featured-product-variant-swatch>
</div>
