<div class="clr-swh no-js-hidden">
  <sht-main-search-variant-swatch class="filter-variant-swatch variant-swatch hide-empty">
    {%- render 'core-color-swatch-with-show-more', option: option, section: section -%}
  </sht-main-search-variant-swatch>
</div>
