<div class="clr-swh no-js-hidden">
  <sht-main-collection-product-variant-swatch class="main-collection-filter-variant-swatch filter-variant-swatch variant-swatch hide-empty">
    {%- render 'core-color-swatch-with-show-more', option: option, section: section -%}
  </sht-main-collection-product-variant-swatch>
</div>
