{%- liquid
  assign product_placeholder = 'product-1' | placeholder_svg_tag: 'placeholder--svg wh-100pct ht-100pct'
  assign product_title = 'title'
  assign product_price = 10000 | money
  assign product_compared_price = 20000 | money
-%}

Thanh123

<div class="card-wrapper">
  <div class="card ">
    <div class="card__media mgn-btm-20 media--hover-effect pstn-rlte ovfw-hdn">
      <a href="#" class="dpy-blk wh-100pct ht-100pct" aria-label="Product Title">
        {% render 'lazy-loading-image', image_item: product_placeholder, lazy_image_loading_image_css: "no-js-hidden dpy-blk pstn-rlte", lazy_image_loading_spinner_css: "js-lazy-loading-image-spinner aln-ctr-mde pstn-asle ptr-ne", replace_srcset: false %} 
      </a>
    </div>
    <div class="tt-aln-ctr">
      <div class="card__info">
        <h3 class="card__heading mgn-btm-4 hdg-6 mgn-0">
          <a href="#">{{ product_title }}</a>
        </h3>
        <div class="price">
          <div class="price__container">
            <div class="price__regular  dpy-ne">
              <span class="visually-hidden">this is price</span>
              <span class="price-item price-item--regular">
                {{ product_price }}
              </span>
            </div>
            <div class="price__sale dpy-blk">
              <span class="visually-hidden">this is price</span>
              <span>
                <s class="price-item price-item--regular">
                  {{ product_compared_price }}
                </s>
              </span>
              <span class="visually-hidden">price</span>
              <span class="price-item price-item--sale price-item--last">
                {{ product_price }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
