<div class="section" data-ui-component="Custom Liquid Section">
  <div class="ctnr">
    {% render 'section-header'
      content_align: 'ta-left',
      subheading: section.settings.subheading,
      heading: section.settings.heading,
      description: section.settings.description,
      badge_text: section.settings.badge_text,
      badge_position: section.settings.badge_position,
      badge_shape: section.settings.badge_shape,
      badge_color: section.settings.badge_color,
      section: section
    %}
    <div class="s-content hide-empty">{{- section.settings.liquid_code -}}</div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.custom_liquid.name",
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:general.settings.section_subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.section_heading.label",
      "default": "Custom Liquid"
    },
    {
      "type": "text",
      "label": "t:general.settings.section_description.label",
      "id": "description"
    },
    {
      "type": "liquid",
      "id": "liquid_code",
      "label": "t:general.settings.custom_liquid.label"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_prominent_badge.content"
    },
    {
      "type": "select",
      "id": "badge_color",
      "label": "t:general.settings.color_scheme.label",
      "default": "color-accent-2",
      "options": [
        {
          "value": "color-accent-1",
          "label": "t:general.settings.accent_scheme.options.option_main_accent.label"
        },
        {
          "value": "color-accent-2",
          "label": "t:general.settings.accent_scheme.options.option_extra_accent.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "badge_position",
      "label": "t:general.settings.badge_position.label",
      "default": "p-badge--top-right",
      "options": [
        {
          "value": "p-badge--top-left",
          "label": "t:general.settings.badge_position.options.option_left.label"
        },
        {
          "value": "p-badge--top-right",
          "label": "t:general.settings.badge_position.options.option_right.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "badge_shape",
      "label": "t:general.settings.badge_shape.label",
      "default": "badge--star",
      "options": [
        {
          "value": "badge--star",
          "label": "t:general.settings.badge_shape.options.option_star.label"
        },
        {
          "value": "badge--diamond",
          "label": "t:general.settings.badge_shape.options.option_diamond.label"
        },
        {
          "value": "badge--asterisk",
          "label": "t:general.settings.badge_shape.options.option_asterisk.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "badge_text",
      "label": "t:general.settings.text.label",
      "default": "Get ready"
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_liquid.name"
    }
  ]
}
{% endschema %}