{%- liquid
if section.settings.image
  assign section_class ='section-fw p-relative d-flex middle-xs center-xs color-inverse'
endif

assign content_align = section.settings.content_alignment
-%}
<div class="section {{ section_class }}" id="newsletter-{{ section.id }}" data-ui-component="Newsletter Section" style="--h-xs:70vh;--h-sm:50vh;--h-md:70vh">
  {% if section.settings.image %}
    {%- liquid
      assign alt_image = section.settings.image.alt | default: section.settings.image.image | split: '/' | last
      assign media = section.settings.image | image_url: width: image.width | image_tag: widths: '350, 450, 550, 750, 950, 1024, 1200, 1400, 1600, 1800, 2000', sizes: '(min-width: 361px) calc(100vw/2), calc(100vw/3)', alt: alt_image, class: 'js-image-lazy of-cover media w-100 h-100'
    -%}
    <div class="mask p-absolute w-100 h-100">
      {% render 'image',
        image_item: media,
        src: section.settings.image.src,
        image_wrap_classes: 'h-100',
        image_classes: 'h-100',
      %}
    </div>
  {% endif %}
  <div class="ctnr zi-1 zi-1 w-100 middle-xs">
    {% render 'section-header',
      classes: 's-header pb-0',
      subheading: section.settings.subheading,
      heading: section.settings.heading,
      description: section.settings.description,
      badge_text: section.settings.badge_text,
      badge_position: section.settings.badge_position,
      badge_shape: section.settings.badge_shape,
      badge_color: section.settings.badge_color,
      content_align: content_align,
      section: section
    %}
    <div class="s-footer-sm s-text-pb p-sides clm {{ content_align }}" style="--w-md:7">
      {% render 'newsletter-form', form_id: section.id | prepend: 'newsletterForm-' , form_name: 'newsletterForm' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:general.settings.section_subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.section_heading.label",
      "default": "Newsletter"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:general.settings.section_description.label",
      "default": "Promotions, new products and sales. Directly to your inbox."
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_layout.content"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:general.settings.content_alignment.label",
      "default": "ta-center m-auto",
      "options": [
        {
          "value": "ta-left",
          "label": "t:general.settings.content_alignment.options.option_left.label"
        },
        {
          "value": "ta-center m-auto",
          "label": "t:general.settings.content_alignment.options.option_center.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_image.content"
    },
    {
      "type": "image_picker",
      "label": "t:general.settings.desktop_background_image.label",
      "id": "image"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_prominent_badge.content"
    },
    {
      "type": "select",
      "id": "badge_color",
      "label": "t:general.settings.color_scheme.label",
      "default": "color-accent-2",
      "options": [
        {
          "value": "color-accent-1",
          "label": "t:general.settings.accent_scheme.options.option_main_accent.label"
        },
        {
          "value": "color-accent-2",
          "label": "t:general.settings.accent_scheme.options.option_extra_accent.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "badge_position",
      "label": "t:general.settings.badge_position.label",
      "default": "p-badge--top-right",
      "options": [
        {
          "value": "p-badge--top-left",
          "label": "t:general.settings.badge_position.options.option_left.label"
        },
        {
          "value": "p-badge--top-right",
          "label": "t:general.settings.badge_position.options.option_right.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "badge_shape",
      "label": "t:general.settings.badge_shape.label",
      "default": "badge--star",
      "options": [
        {
          "value": "badge--star",
          "label": "t:general.settings.badge_shape.options.option_star.label"
        },
        {
          "value": "badge--diamond",
          "label": "t:general.settings.badge_shape.options.option_diamond.label"
        },
        {
          "value": "badge--asterisk",
          "label": "t:general.settings.badge_shape.options.option_asterisk.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "badge_text",
      "label": "t:general.settings.text.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.name"
    }
  ]
}
{% endschema %}