{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "cs-background cs-background-1",
      "options": [
        {
          "value": "cs-accent cs-accent-1",
          "label": "Accent 1"
        },
        {
          "value": "cs-accent cs-accent-2",
          "label": "Accent 2"
        },
        {
          "value": "cs-background cs-background-1",
          "label" : "Background 1"
        },
        {
          "value": "cs-background cs-background-2",
          "label" : "Background 2"
        }
      ]
    },
    {
      "type": "header",
      "content": "content"
    },
    { 
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default" : "Section title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default" : "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "header",
      "content": "button"
    },
    {
      "type": "text",
      "id": "button_label_first",
      "label": "Primary button label",
      "default" : "Check now"
    },  
    {
      "type": "url",
      "id": "button_link_first",
      "label": "Primary button link"
    },
    {
      "type": "text",
      "id": "button_label_second",
      "label": "Secondary button label",
      "default" : "View details"
    }, 
    {
      "type": "url",
      "id": "button_link_second",
      "label": "Secondary link"
    }
  ],
  "presets": [
    {
      "name": "Text"
    }
  ]
}
{% endschema %}
