:root {
  --text-color-primary-dark: #0D0E43;
  --text-color-primary-white: #F1F1F1;
  --text-heading: #151875;

  --text-color-secondary: #8A8FB9;
  /* --text-color-third: #8A8FB9; */

  --color-pink: #FB2E86;
  
  --background-color-primary: #F2F0FF;
  --background-color-secondary: #F7F7F7;

  --letter-spacing: 0.01em;

  --font-size-regular: 1.6rem;
  --line-height-regular: 1.25em;

  --font-size-bold: 4.2rem;
  --line-height-bold: 1.167em;
  
  --font-primary: 'Josefin Sans';
  --font-secondary: 'Lato';


}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; 
  /* 
    1rem = 10px 
  */
  font-weight: 400;
  box-sizing: border-box;
  font-family: var(--font-primary), sans-serif;
  scroll-behavior: smooth;
}

i {
  display: inline-block;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.dfs {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.df {
  display: flex;
}

.alc {
  align-items: center;
}

.jcs {
  justify-content: space-between;
}

.middle {
  justify-items: center;
}

.fw {
  flex-wrap: wrap;
}

.dfc   {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jcc{
  justify-content: center;
}

.df--unset{
  justify-content: unset;
}

.text--dark {
  color: var(--text-color-primary-dark);
  font-size: var(--font-size-regular);
  line-height: var(--line-height-regular);
}

.text--white {
  color: var(--text-color-primary-white);
  font-size: var(--font-size-regular);
  line-height: var(--line-height-regular);
}

img {
  display: block;
}

input {
  border: none;
  outline: none;
}

.btn {
  font-size: 1.7rem;
  line-height: 1.17em;
  color: #fff;
  border: none;
}

.btn--primary {
  background-color: var(--color-pink)
}

.subheading {
  margin-bottom: 13px;
}

.heading {
  font-size: var(--font-size-bold);
  line-height: var(--line-height-bold);
  color: var(--text-heading);
  text-align: center;
  font-weight: 800;
}

.hidden {
  display: none;
}

.background--pink {
  background-color: #FFF6FB;
}

.background--violet {
  background-color: #EEEFFB;
}

.h-100 {
  height: 100%;
}

.tl {
  text-align: center;
}

.mb-30 {
  margin-bottom: 30px;
}

.order--1 {
  order: 1
}

.order--2 {
  order: 2
}



/* slick */

/* custom trong moi product */
.slick-initialized .slick-slide {
  margin: 0 15px;
}

.slider__item--image img {
  width: 100%;
}

.slick-slider button.slick-arrow {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 1;
  box-shadow: 0px 7.03125px 19.5312px rgb(0 0 0 / 6%);
  display: none !important;
}

.slick-arrow {
  position: absolute;
  font-size: 2.5rem;
  color: #000;
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
}

.slick-prev {
  top: calc(50%);
  left: 0;
}

.slick-next {
  right: 0px;
  top: calc(50%);
}

.hero .slick-dots {
  position: absolute;
  bottom: 53px;
  left: calc(50% - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .slick-dots button {
  border-radius: initial;
  transform: rotate(-45deg);
  color: transparent;
  width: 10px;
  height: 10px;
  border: 1px solid #FB2E86;
}

.hero .slick-dots li {
  padding: 0 6px;
}

.hero .slick-dots li.slick-active button {
  background: #FB2E86;
}

/* dot feature product */

.featured-products .slick-dots {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  left: 50%;
}

.featured-products .slick-dots button {
  color: transparent;
    width: 16px;
    height: 4px;
    background: #FEBAD7;
    border-radius: 10px;
    display: block;
    border: none;
}

.featured-products .slick-dots li {
  padding: 0 6px;
}

.featured-products .slick-dots li.slick-active button {
  background: #FB2E86;
  width: 24px;

}

.featured-products .slider__item--image img {
  height: 236px;
  object-fit: scale-down;
}

/* end dot feature product */

/* waves */

.waves {
  position:relative;
  width: 100%;
  height: 15vh;
  min-height:100px;
  max-height:150px;
  background-color: #f2f0ff;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  
}

/* selec tab not js */

.section.latest-products input{
  display:none;
}

#category1,
#category2,
#category3,
#category4 {
  display: none
}


#tab1:checked ~ #category1,
#tab2:checked ~ #category2,
#tab3:checked ~ #category3,
#tab4:checked ~ #category4 {
  display: flex;
}

#tab1:checked ~ .category label[for=tab1],
#tab2:checked ~ .category label[for=tab2],
#tab3:checked ~ .category label[for=tab3],
#tab4:checked ~ .category label[for=tab4] {
  color: var(--color-pink);
  --font-size-regular: 1.8rem;
  --line-height-regular: 1.22em;
  border-bottom: 1px solid var(--color-pink);
}

/* end select tab not js */




