/*------------------------------------*\
  #GENERAL
\*------------------------------------*/
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul ul,
ul ol,
ol ul,
ol ol {
  padding-left: 16px;
}
.ls-none {
  list-style: none;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
thead th {
  border-bottom: 1px solid var(--color-divider);
}
th,
td {
  padding: 16px 12px;
}
table tr {
  border-bottom: 1px solid var(--color-bg-line);
}
table tr:hover {
  background-color: var(--color-hover-item);
}
table::-webkit-scrollbar {
  display: none;
}
/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: var(--font-body-size);
  line-height: var(--body-line-height);
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
  color: var(--color-normal-text);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
.ctnr {
  padding: 0 var(--gutter-container);
  margin: 0 auto;
}
.ctnr-sm {
  padding-right: calc(var(--gutter-container));
  padding-left: calc(var(--gutter-container));
}
.rw {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--gutter));
}
.clm {
  flex: 1 0 auto;
  padding: 0 var(--gutter);
  width: calc(var(--grid-ratio, 100%/12) * var(--w-xs));
  max-width: calc(var(--grid-ratio, 100%/12) * var(--w-xs));
}

/*------------------------------------*\
  #HEADING
\*------------------------------------*/
.headline,
.hdg-1,
.hdg-2,
.hdg-3,
.hdg-4,
.hdg-5,
.hdg-6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  line-height: var(--heading-line-height);
  margin: 0 0 calc(var(--gutter-base) / 2);
}
.headline {
  font-size: calc(var(--heading-1) * var(--heading-scale));
}
.hdg-1,
h1 {
  font-size: var(--heading-1);
}
.hdg-2,
h2 {
  font-size: var(--heading-2);
}
.hdg-3,
h3 {
  font-size: var(--heading-3);
}
.hdg-4,
h4 {
  font-size: var(--heading-4);
}
.hdg-5,
h5 {
  font-size: var(--heading-5);
}
.hdg-6,
h6 {
  font-size: var(--heading-6);
}
.fs-sm {
  font-size: 14px;
  line-height: 1.5;
}
/*------------------------------------*\
* MARGIN
\*------------------------------------*/
.m-auto {
  margin: auto;
}
.m-zero {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-28 {
  margin-top: 28px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-36 {
  margin-top: 36px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-44 {
  margin-top: 44px;
}
.mt-48 {
  margin-top: 48px;
}
.v-mb {
  margin-bottom: calc(var(--v-mb, 0));
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-36 {
  margin-bottom: 36px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-44 {
  margin-bottom: 44px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mr-0 {
  margin-right: 0;
}
.mr-4 {
  margin-right: 4px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-12 {
  margin-right: 12px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-28 {
  margin-right: 28px;
}
.mr-32 {
  margin-right: 32px;
}
.mr-36 {
  margin-right: 36px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-44 {
  margin-right: 44px;
}
.mr-48 {
  margin-right: 48px;
}
.mr-minus {
  margin-right: calc(var(--gutter-container) * -1);
}
.ml-0 {
  margin-left: 0;
}
.ml-4 {
  margin-left: 4px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-12 {
  margin-left: 12px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-24 {
  margin-left: 24px;
}
.ml-28 {
  margin-left: 28px;
}
.ml-32 {
  margin-left: 32px;
}
.ml-36 {
  margin-left: 36px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-44 {
  margin-left: 44px;
}
.ml-48 {
  margin-left: 48px;
}
.ml-minus {
  margin-left: calc(var(--gutter-container) * -1);
}
.p-zero {
  padding: 0;
}
.pt-0 {
  padding-top: 0;
}
.pt-8 {
  padding-top: 8px;
}
.pt-12 {
  padding-top: 12px;
}
.pt-16 {
  padding-top: 16px;
}
.pt-32 {
  padding-top: 32px;
}
.pt-36 {
  padding-top: 36px;
}
.pt-48 {
  padding-top: 48px;
}
.pb-0 {
  padding-bottom: 0!important;
}
.pb-8 {
  padding-bottom: 8px;
}
.pb-12 {
  padding-bottom: 12px;
}
.pb-16 {
  padding-bottom: 16px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-36 {
  padding-bottom: 36px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-48 {
  padding-bottom: 48px;
}
.v-pr {
  padding-right: calc(var(--v-pr, 0));
}
.pr-0 {
  padding-right: 0px;
}
.pr-12 {
  padding-right: 12px;
}
.pr-24 {
  padding-right: 24px;
}
.pr-36 {
  padding-right: 36px;
}
.pr-40 {
  padding-right: 40px;
}
.pl-0 {
  padding-left: 0px;
}
.pl-12 {
  padding-left: 12px;
}
.pl-24 {
  padding-left: 24px;
}
.pl-36 {
  padding-left: 36px;
}
.pl-48 {
  padding-left: 48px;
}
.p-sides {
  padding-left: var(--pd-sides, 0);
  padding-right: var(--pd-sides, 0);
}
/*------------------------------------*\
  #HEIGHT: Helper for all Heights
\*------------------------------------*/
.h-100 {
  height: 100%;
}
.h-100v {
  height: 100vh;
}
.mah-100 {
  max-height: 100%;
}
.mih {
  min-height: var(--mih, 100vh);
}
[style*="--h-xs"] {
  height: var(--h-xs);
}

/*------------------------------------*\
  #WIDTH: Helper for all Widths
\*------------------------------------*/
.w-100 {
  width: 100%;
}
.v-wh-vw {
  width: var(--v-wh-vw, 100vw);
}
.w-100v {
  width: 100vw;
}
.maw-100 {
  max-width: 100%;
}
.miw-100 {
  min-width: 100%;
}
.miw {
  min-width: var(--miw, 100vw);
}
/*------------------------------------*\
  #TEXT
\*------------------------------------*/
.ws-nowrap {
  white-space: nowrap;
}
.wb-break-word {
  word-break: break-word;
}
.tt-up {
  text-transform: uppercase;
}
.tt-cap {
  text-transform: capitalize;
}
.td-none {
  text-decoration: none;
}
.td-underline {
  text-decoration: underline;
}
.fw-700 {
  font-weight: 700;
}
.ts-default {
  text-shadow:
  -0.5px -0.5px 0 rgb(var(--color-page-bg-rgb)),
  -0.5px 0.5px 0 rgb(var(--color-page-bg-rgb)),
  0.5px -0.5px 0 rgb(var(--color-page-bg-rgb)),
  0.5px 0.5px 0 rgb(var(--color-page-bg-rgb));
}
.f-default {
  filter:
  drop-shadow(0.5px -0.5px 0px #fff)
  drop-shadow(-0.5px 0.5px 0px #fff)
  drop-shadow(0.5px -0.5px 0px #fff)
  drop-shadow(0.5px 0.5px 0px #fff);
}
/*------------------------------------*\
    #DISPLAY: Helper for all Display properties
  \*------------------------------------*/
.hidden,
[hidden],
a[href="#"].hide-no-link,
a[href^="/"].hide-no-link ~ span,
.d-none {
  display: none;
}
a[href=""],
.d-none-important {
  display: none !important;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.d-inline-flex {
  display: inline-flex;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
.d-grid-12 {
  grid-template-columns: repeat(12, 1fr);
}
/*------------------------------------*\
    #FLEXBOX: Helper for all Flexbox properties
  \*------------------------------------*/
.flex-1 {
  flex: 1;
}
.fg-1 {
  flex-grow: 1;
}
.fs-0 {
  flex-shrink: 0;
}
.fw-wrap {
  flex-wrap: wrap;
}
.fw-nowrap {
  flex-wrap: nowrap;
}
.flx-fill {
  flex: 1 1 auto;
}
.flx-auto {
  flex: 0 0 auto;
}
.fd-row {
  flex-direction: row;
}
.fd-row-reverse {
  flex-direction: row-reverse;
}
.fd-column {
  flex-direction: column;
}
.fd-column-reverse {
  flex-direction: column-reverse;
}
.start-xs {
  justify-content: flex-start;
}
.end-xs {
  justify-content: flex-end;
}
.center-xs {
  justify-content: center;
}
.between-xs {
  justify-content: space-between;
}
.around-xs {
  justify-content: space-around;
}
.top-xs {
  align-items: flex-start;
}
.bottom-xs {
  align-items: flex-end;
}
.middle-xs {
  align-items: center;
}
/*------------------------------------*\
    #GRID: Helper for all Grid properties
\*------------------------------------*/
.gap {
  grid-column-gap: calc(var(--gutter) * 2);
}
.gap-1 {
  grid-gap: 1px;
}
.gap-4 {
  grid-gap: 4px;
}
.gap-12 {
  grid-gap: 12px;
}
.gap-16 {
  grid-gap: 16px;
}
.gap-24 {
  grid-gap: 24px;
}
.gap-32 {
  grid-gap: 32px;
}
.gap-36 {
  grid-gap: 36px;
}
.row-gap-24 {
  grid-row-gap: 24px;
}
.row-gap-48 {
  grid-row-gap: 48px;
}
.gap-equal {
  grid-row-gap: calc(var(--gutter) * 2);
}
.gap-unequal {
  grid-row-gap: calc(var(--gutter) * var(--times, 4));
}
[style*="--gc-xs"] {
  grid-column: var(--gc-xs);
}
[style*="--gr-xs"] {
  grid-row: var(--gr-xs);
}
/*------------------------------------*\
  #OPACITY: Helper for all Opacity properties
\*------------------------------------*/
.opacity-0 {
  opacity: 0;
}
.opacity-1 {
  opacity: 1;
}

/*------------------------------------*\
  #OVERFLOW: Helper for all Overflow properties
\*------------------------------------*/
.o-hidden {
  overflow: hidden;
}
.o-visible {
  overflow: visible;
}
.o-scroll {
  overflow: scroll;
}
.ox-auto {
  overflow-x: auto;
}
.oy-scroll {
  overflow-y: scroll;
}
.oy-auto {
  overflow-y: auto;
}

/*------------------------------------*\
  #POSITION: Helper for all Overflow properties
\*------------------------------------*/
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
.p-sticky {
  position: sticky;
}
.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.middle-y {
  top: 50%;
  transform: translateY(-50%);
}
.middle-x {
  left: 50%;
  transform: translateX(-50%);
}
/*------------------------------------*\
  #BORDER: Helper for all Borders
\*------------------------------------*/
.bg-transparent {
  background: transparent !important;
}
.b-zero {
  border: none !important;
}
/*------------------------------------*\
  #VISIBILITY: Helper for all Borders
\*------------------------------------*/
.visible-xs {
  visibility: visible;
}
.hidden-xs {
  visibility: hidden;
}
/*------------------------------------*\
  #SHADOW: Helper for all Shadow
\*------------------------------------*/
.bs-none {
  box-shadow: none;
}
/*------------------------------------*\
  #POINTER EVENTS: Helper for all Pointer Events
\*------------------------------------*/
.pe-none {
  pointer-events: none;
}
/*------------------------------------*\
  #Z-INDEX: Helper for all z-index
\*------------------------------------*/
.zi-1 {
  z-index: 1;
}
.zi-2 {
  z-index: 2;
}
.zi-3 {
  z-index: 3;
}
.zi-4 {
  z-index: 4;
}
.zi-5 {
  z-index: 5;
}
.zi-6 {
  z-index: 6;
}
.zi-7 {
  z-index: 7;
}
.zi-8 {
  z-index: 8;
}
.zi-m-1 {
  z-index: -1;
}
/*------------------------------------*\
  #CURSOR: Helper for all Cursors
\*------------------------------------*/
.c-pointer {
  cursor: pointer;
}
.c-zoom-in {
  cursor: zoom-in;
}
/*------------------------------------*\
  #ROUNDED: Helper for all ROUNDED
\*------------------------------------*/
.br-50p {
  border-radius: 50%;
}
/*------------------------------------*\
  #TEXT ALIGNMENT AND TRUNCATE
\*------------------------------------*/
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
.ta-center {
  text-align: center;
}
/*------------------------------------*\
  #ACCESSIBILITY
\*------------------------------------*/
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
/*------------------------------------*\
  # OBJECT FIT
\*------------------------------------*/
.media {
  aspect-ratio: var(--ratio);
  transition: 0.3s var(--timing-function-on);
}
.op-top {
  object-position: top;
}
.of-cover {
  object-fit: cover;
}
.of-contain {
  object-fit: contain;
}
.center-middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hide-empty:empty {
  display: none !important;
}
.scrollable {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-stop: always;
}
.scrollable-y {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}
.scrollable-x {
  scroll-snap-type: x mandatory;
}
.scrollable-aln-start {
  scroll-snap-align: start;
}
.scrl-bhvr-auto {
  scroll-behavior: auto;
}
.disable-scrollbars::-webkit-scrollbar {
  background: transparent;
  width: 0;
  height: 0;
}
/*------------------------------------*\
    #MEDIA: Helper for all Media
\*------------------------------------*/
@media (min-width: 459px) {
  .ctnr-sm {
    --ctnr-sm: calc((100vw - 2*var(--gutter-container))/12*10)
  }
  [style*="--w-sm"] {
    width: calc(var(--grid-ratio, 100%/12) * var(--w-sm));
    max-width: calc(var(--grid-ratio, 100%/12) * var(--w-sm));
  }
  [style*="--h-sm"] {
    height: var(--h-sm);
  }
  [style*="--gc-sm"] {
    grid-column: var(--gc-sm);
  }
  [style*="--gr-sm"] {
    grid-row: var(--gr-sm);
  }
  .d-block-sm {
    display: block;
  }
  .d-inline-block-sm {
    display: inline-block;
  }
  .d-none-sm {
    display: none;
  }
  .d-flex-sm {
    display: flex;
  }
  .fd-row-sm {
    flex-direction: row;
  }
  .fd-row-reverse-sm {
    flex-direction: row-reverse;
  }
  .fd-column-sm {
    flex-direction: column;
  }
  .fd-column-reverse-sm {
    flex-direction: column-reverse;
  }
  .visible-sm {
    visibility: visible;
  }
  .hidden-sm {
    visibility: hidden;
  }
  .start-sm {
    justify-content: flex-start;
  }
  .end-sm {
    justify-content: flex-end;
  }
  .center-sm {
    justify-content: center;
  }
  .between-sm {
    justify-content: space-between;
  }
  .top-sm {
    align-items: flex-start;
  }
  .bottom-sm {
    align-items: flex-end;
  }
  .middle-sm {
    align-items: center;
  }
  .w-initial-sm {
    width: initial;
  }
  .ml-sm-0 {
    margin-left: 0;
  }
  .mr-sm-0 {
    margin-right: 0;
  }
  .mt-sm-0 {
    margin-top: 0;
  }
  .gap-unequal {
    --times: 3;
  }
  .row-gap-64-sm {
    grid-row-gap: 64px;
  }
}
@media (min-width: 769px) {
  [style*="--w-md"] {
    width: calc(var(--grid-ratio, 100%/12) * var(--w-md));
    max-width: calc(var(--grid-ratio, 100%/12) * var(--w-md));
  }
  [style*="--h-md"] {
    height: var(--h-md);
  }
  [style*="--gc-md"] {
    grid-column: var(--gc-md);
  }
  [style*="--gr-md"] {
    grid-row: var(--gr-md);
  }
  .d-block-md {
    display: block;
  }
  .d-inline-block-md {
    display: inline-block;
  }
  .d-none-md {
    display: none;
  }
  .d-flex-md {
    display: flex;
  }
  .d-grid-md {
    display: grid;
  }
  .fd-row-md {
    flex-direction: row;
  }
  .fd-column-md {
    flex-direction: column;
  }
  .visible-md {
    visibility: visible;
  }
  .hidden-md {
    visibility: hidden;
  }
  .start-md {
    justify-content: flex-start;
  }
  .end-md {
    justify-content: flex-end;
  }
  .center-md {
    justify-content: center;
  }
  .between-md {
    justify-content: space-between;
  }
  .top-md {
    align-items: flex-start;
  }
  .bottom-md {
    align-items: flex-end;
  }
  .middle-md {
    align-items: center;
  }
  .fd-row-reverse-md {
    flex-direction: row-reverse;
  }
  .p-absolute-md {
    position: absolute;
  }
  .p-relative-md {
    position: relative;
  }
  .ta-left-md {
    text-align: left;
  }
  .ml-md-0 {
    margin-left: 0;
  }
  .mr-md-0 {
    margin-right: 0;
  }
  th,
  td {
    padding: 24px 20px;
  }
  .v-mb-md {
    margin-bottom: calc(var(--v-mb-md, 0));
  }
  .fw-nowrap-md {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1025px) {
  [style*="--w-lg"] {
    width: calc(var(--grid-ratio, 100%/12) * var(--w-lg));
    max-width: calc(var(--grid-ratio, 100%/12) * var(--w-lg));
  }
  [style*="--h-lg"] {
    height: var(--h-lg);
  }
  .d-block-lg {
    display: block;
  }
  .d-none-lg {
    display: none;
  }
  .visible-lg {
    visibility: visible;
  }
  .hidden-lg {
    visibility: hidden;
  }
  .start-lg {
    justify-content: flex-start;
  }
  .end-lg {
    justify-content: flex-end;
  }
  .center-lg {
    justify-content: center;
  }
  .between-lg {
    justify-content: space-between;
  }
  .top-lg {
    align-items: flex-start;
  }
  .bottom-lg {
    align-items: flex-end;
  }
  .middle-lg {
    align-items: center;
  }
}
@media (min-width: 1681px) {
  [style*="--w-xl"] {
    width: calc(var(--grid-ratio, 100%/12) * var(--w-xl));
    max-width: calc(var(--grid-ratio, 100%/12) * var(--w-xl));
  }
  [style*="--h-xl"] {
    height: var(--h-xl);
  }
  .d-block-xl {
    display: block;
  }
  .d-none-xl {
    display: none;
  }
  .fd-row-xl {
    flex-direction: row;
  }
  .visible-xl {
    visibility: visible;
  }
  .hidden-xl {
    visibility: hidden;
  }
  .start-xl {
    justify-content: flex-start;
  }
  .end-xl {
    justify-content: flex-end;
  }
  .center-xl {
    justify-content: center;
  }
  .between-xl {
    justify-content: space-between;
  }
  .top-xl {
    align-items: flex-start;
  }
  .bottom-xl {
    align-items: flex-end;
  }
  .middle-xl {
    align-items: center;
  }
  .gap-unequal {
    --times: 2.5;
  }
  .fd-row-xl {
    flex-direction: row;
  }
}
