.spinner {
  -webkit-animation: rotationAnimation 2s infinite linear;
  -moz-animation: rotationAnimation 2s infinite linear;
  -o-animation: rotationAnimation 2s infinite linear;
  -ms-animation: rotationAnimation 2s infinite linear;
  animation: rotationAnimation s infinite linear;
  height: 30px;
  transform-origin: center center;
  width: 30px;
}

.spinner__path {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  animation: dashAnimation 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  -webkit-animation: dashAnimation 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  -moz-animation: dashAnimation 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  -ms-animation: dashAnimation 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  -o-animation: dashAnimation 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  stroke-linecap: round;
}

.placeholder {
  fill: currentColor;
  background: rgba(0, 0, 0, 0.04);
}

.placeholder--svg {
  display: block;
  fill: rgba(51, 51, 51, 0.35);
  background-color: rgba(51, 51, 51, 0.2);
  border: 1px solid rgba(51, 51, 51, 0.1);
}

.placeholder--square-200 {
  width: 200px;
  height: 200px;
}

.image--placeholder {
  left: 0;
  top: 0;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.skip-to-content-link:focus {
  width: auto;
  height: auto;
  visibility: visible;
  opacity: 1;
  z-index: 999999;
  top: 0;
  clip: auto;
  padding: 10px 20px;
}

.mask:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(9, 12, 38, 0.2);
  pointer-events: none;
}

.mask img {
  z-index: -1;
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; 
  width: 0;
  height: 0;
}

.disable-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;
}